#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

body {
  background: url('./assets/bg.png') no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.dark {
  background-color: rgba(51, 51, 51, 0.7);
}

.light {
  background-color: rgba(255, 255, 255, 0.7);
}

.theme-dark {
  background-color: #333;
  color: #fff;
}
.theme-light {
  background-color: #fff;
  color: #000;
}
