.result {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
}

.result__item {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  cursor: pointer;
}

.result__description {
  margin: 10px 0;
}

.result__description span {
  display: block;
  margin: 5px 0;
}

.result__item-img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
