.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

label {
  color: #fff;
  font-size: 18px;
  text-align: left;
  margin-left: 0;
  flex: 1;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  outline: none;
  background-color: transparent;
  border: 1px solid #8c8c8c;
  color: #fff;
  border-radius: 5px;
}

.radio {
  margin-left: 5px;
}

.checkbox {
  width: 5%;
}

.file {
  border: none;
  flex-grow: 1;
}
