.form__item {
  width: 300px;
}

.item__inner {
  background-color: rgb(211, 211, 126);
  list-style: none;
  margin: 0;
  padding: 10px;
  text-align: left;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.5s linear;
}

.item__inner:hover {
  transform: scale(1.05);
}
