.header__title {
  font-size: 6rem;
  color: #ff5733;
  font-weight: 400;
  text-transform: uppercase;
  animation: burn 1s infinite alternate;
  font-family: 'Russo One', sans-serif;
}

@keyframes burn {
  0% {
    color: #ff5733;
    text-shadow:
      0 0 5px #ff5733,
      0 0 10px #ff5733,
      0 0 15px #ff5733;
  }
  100% {
    color: #ffd700;
    text-shadow:
      0 0 5px #ffd700,
      0 0 10px #ffd700,
      0 0 15px #ffd700;
  }
}
